/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.profile-list-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  background-color: rgba(0,0,0,0.5);
}

.repo-list-z-index{
  z-index: 10;
}


.loading-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 8;
  background-color: rgba(0,0,0,0.5);
}


.search-bar{
  padding: 12px;
  margin: auto;

}

.repo-discription{
  color: #fff;
  font-size: 14px;
}

.no-issues{
  text-align: center;
  font-size: 30px;
}


.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.icon-colour{
  color: black!important;
}