




<div class="row search-bar">
    <div class="col-lg-12">
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="getRepoList()">Go!</button>
      </span>
            <input type="text"
                   class="form-control"
                   ng-model="repoName"
                   ng-change="getRepoList()"
                   ng-model-options="{debounce : 1000}"
                   placeholder="Search Repositories">
        </div>
    </div>
</div>

<h3  ng-show="data.items">{{data.total_count}} Total Repositories found</h3>

<div ng-show="showStats" ng-click="statsOrRepos()" class="mdl-button mdl-js-button mdl-button--raised">Show Score Cards Stats</div>
<div ng-show="showCards" ng-click="statsOrRepos()" class="mdl-button mdl-js-button mdl-button--raised" style="margin-bottom: 20px">Show Repositories</div>

<div class="chart" ng-show="showCards"></div>


<div style="margin-bottom: 20px" ng-show="showStats">
    <div class="grid-handler mdl-grid" >

        <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp" ng-click="openRepo(item.full_name)" ng-repeat="item in data.items">

            <div class="mdl-card__title" style="color: #fff;
                                         height: 150px;
                                         background: url('{{item.owner.avatar_url}}') center / cover; " >
                <div class="profile-list-overlay"></div>
                <div class="repo-list-z-index">
                    {{item.name | uppercase}}

                </div>

            </div>
            <div class="mdl-card__supporting-text grid-handler mdl-grid">
                <div class="mdl-card__supporting-text repo-list-z-index repo-discription" >
                    {{item.description || "N/A"}}
                </div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"
                       style="width: 100%; max-width: 100%;">
                   <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><i class="fa fa-github mdl-list__item-icon material-icons"></i></td>
                        <td class="mdl-data-table__cell--non-numeric">Git-Hub</td>
                        <td><a class="mdl-navigation__link" href='{{item.html_url}}' target="_blank">URL</a></td>
                    </tr>
                   <tr>
                        <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdl-list__item-icon fa fa-code-fork"></i></td>
                        <td class="mdl-data-table__cell--non-numeric">Forks</td>
                        <td>{{item.forks_count}}</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdl-list__item-icon fa fa-star"></i></td>
                        <td class="mdl-data-table__cell--non-numeric">Stargazers</td>
                        <td>{{item.stargazers_count}}</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdl-list__item-icon fa fa-exclamation-triangle"></i></td>
                        <td class="mdl-data-table__cell--non-numeric">Open issues</td>
                        <td>{{item.open_issues}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






