
<div class="grid-handler mdl-grid" >
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__media">
          <img ng-src="{{repoInfo.items[0].owner.avatar_url}}"
               width="173"
               height="157"
               border="0"
               alt=""
               style="padding:10px;">
          {{repoInfo.items[0].owner.login | uppercase}}
          <p>{{repoInfo.items[0].description}}</p>
        </div>
        <div class="mdl-card__supporting-text">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" >
            <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><i class="fa fa-github mdl-list__item-icon material-icons"></i></td>
              <td class="mdl-data-table__cell--non-numeric">Git-Hub</td>
              <td><a class="mdl-navigation__link" href='{{repoInfo.items[0].html_url}}' target="_blank">URL</a></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdl-list__item-icon fa fa-code-fork"></i></td>
              <td class="mdl-data-table__cell--non-numeric">Forks</td>
              <td>{{repoInfo.items[0].forks_count}}</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdl-list__item-icon fa fa-star"></i></td>
              <td class="mdl-data-table__cell--non-numeric">Stargazers</td>
              <td>{{repoInfo.items[0].stargazers_count}}</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdl-list__item-icon fa fa-exclamation-triangle"></i></td>
              <td class="mdl-data-table__cell--non-numeric">Open issues</td>
              <td>{{repoInfo.items[0].open_issues}}</td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp">
        <ul class="demo-list-icon mdl-list">
            <h1> Icon Definitions</h1>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="fa fa-times mdl-list__item-icon material-icons icon-colour"></i> Open
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="fa fa-check mdl-list__item-icon material-icons icon-colour"></i> Closed
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="fa fa-chain-broken mdl-list__item-icon material-icons icon-colour" ></i> Normal Issue
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="fa fa-arrows-h mdl-list__item-icon material-icons icon-colour"></i> Pull Request
                </span>
            </li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">

        <span ng-repeat="issue in issues.items" style="margin-bottom: 10px">
          <div class="mdl-card__actions" data-toggle="collapse" data-target='#{{issue.number}}' style="background-color: #009688;">
          {{issue.title}}
            <span class="pull-right">
              <i class="fa fa-times mdl-list__item-icon material-icons icon-colour" id="open{{issue.number}}" ng-show="issue.state == 'open'"></i>
              <i class="fa fa-check mdl-list__item-icon material-icons icon-colour" id="closed{{issue.number}}" ng-show="issue.state == 'closed'"></i>
              <i class="fa fa-chain-broken mdl-list__item-icon material-icons icon-colour" id="issue{{issue.number}}" ng-show="!issue.pull_request"></i>
              <i class="fa fa-arrows-h mdl-list__item-icon material-icons icon-colour" id="pull{{issue.number}}" ng-show="issue.pull_request"></i>
            </span>
              <div class="mdl-tooltip" data-mdl-for="open{{issue.number}}">
                  Open
              </div>
              <div class="mdl-tooltip" data-mdl-for="closed{{issue.number}}">
                  Closed
              </div>
              <div class="mdl-tooltip" data-mdl-for="pull{{issue.number}}">
                  Pull Request
              </div>
              <div class="mdl-tooltip" data-mdl-for="issue{{issue.number}}">
                  Normal Issue
              </div>
          </div>
          <div class="mdl-card__actions"id="{{issue.number}}" class="collapse">
            {{issue.body}}
          </div>
        </span>

          <h1 ng-show="issues.items.length < 1" class="no-issues">
            No Issues
            <br>
            <i class="fa fa-smile-o mdl-list__item-icon material-icons"></i>
          </h1>
    </div>
  </div>
</div>


